@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>¿Quieres información valiosa y personalizada?</h1>
    <h3>Dejanos tu información y opten un cupón de descuento.</h3>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input type="text" class="form-control" id="nombre">
            </div>
            <div class="form-group">
                <label for="apaterno">Apellido paterno:</label>
                <input type="text" class="form-control" id="apaterno">
            </div>
            <div class="form-group">
                <label for="amaterno">Apellido materno:</label>
                <input type="text" class="form-control" id="amaterno">
            </div>
        </div>   
        <div class="col-md-3">

            <div class="form-group">
                <label for="telefono">Telefono:</label>
                <input type="tel" class="form-control" id="telefono">
            </div>
          
            <div class="form-group">
                <label for="email">Email address:</label>
                <input type="email" class="form-control" id="email">
            </div>
        </div>
        
        <div class="col-md-6">
            <div class="dropdown">
                <div class="CPostal">
                    <label>Codigo Postal</label>
                    @Html.TextBox("Codigo Postal", null, new { @class = "codigo-postal form-control", placeholder = "Ingresa tu codigo postal a 5 digitos" })
                </div>
                <div>
                    <select class="select-colonia dropdown-menu" name="colonias" style="display:none;"></select>
                </div>
            </div>
            <br />
            
        </div>

        <div class="col-md-12" >
            <button class="btn btn-success descuento" style="display:none;">Quiero mi descuento</button>
        </div>
    </div>
    
</div>

<script src="~/Scripts/jquery-3.4.1.js"></script>
<script>
    $(document).ready(function () {
        $(".codigo-postal").on("input", function () {
            let cPostal = $(this).val();
            
            if (cPostal.length === 5 && typeof (Number(cPostal)) === "number") {
                $(".descuento").show();
                $.ajax({
                    url: "http://localhost:44316/api/Persona",
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify({ CodigoPostal: Number(cPostal) }),
                    success: function (response) {
                        let colonias = $(".select-colonia");
                        colonias.empty();
                        colonias.show();
                        if (response.length > 0) {
                            colonias.append(' <option value="">Seleccione una colonia</option>');
                            response.forEach(function (item) {
                                colonias.append(`<option value="${item.Id}">${item.DescripcionColonia}</option>`);
                            });
                        } else {
                            colonias.append('<option value="">No hay resultados</option>');
                        }
                    },
                    error: function (xhr, status, error) {
                        Console.log("Error al obtener datos: " + xhr.responseText);
                    }
                });
            } else {
                $(".descuento").hide();
            }
        });
    });
</script>